.login-container, login-wrapper{
  height: 100%;
  background-color: lightslategrey;
}

.login-full-width{
  width: 350px;
  color: white !important;
}

.login-row{
  padding: 2em 4em;
  background-color: white;
  border-radius: .5rem;
}

.login-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-buttons-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-button{
  margin: 0px 5px;
}
