.voting-page-container{
  width: 600px;
  height: 600px;
}

.voting-page-row, .voting-page-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.voting-page-title{
  font-size: 28px;
}

.voting-page-image{
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
}

.contestant-details{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.contestant-name, .contestant-role-name{
  font-size: 18px;
  font-weight: 500;
}

.contestant-role{
  display: grid;
  grid-template-columns: 1fr 8fr;
  gap: 5px;
}

.voting-page-instruction{
  margin-top: 20px;
}

.voting-page-instructions{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.place-vote-image{
  width: 180px;
  border-radius: 24px;
  height: 110px;
}

/* .place-vote-image{
  animation:brath 3s  linear infinite;
}

@keyframes brath{
  0%{transform: scale(.9);}
  25%{transform: scale(1);}
  60%{transform: scale(.9);}
  100%{transform: scale(1);}
} */
