<div class="voting-page-container">
<div class="voting-page-row">
  <h2 class="voting-page-title">Cast your vote</h2>
  <div class="voting-page-content">
    <img class="voting-page-image" src="../../../assets/images/box.jpg" alt="voting-image">
    <div class="contestant-details">
      <p class="contestant-name">{{data.firstName+" "+data.surname}}</p>
      <div class="contestant-role">
        <p class="contestant-role-name">(For {{data.title.titleName+")"}}</p>
      </div>
    </div>
    <div class="voting-page-instructions">
      <img class="app-image place-vote-image" alt="" src="https://thumbs.gfycat.com/KindheartedSimpleAppaloosa-size_restricted.gif">
      <p class="voting-page-instruction">Place your finger on the fingerprint scanner.</p>
    </div>
  </div>
</div>
</div>
