<div class="login-container">
  <div class="login-wrapper">
    <div class="login-row">
      <div class="login-header">
        <app-login-header></app-login-header>
      </div>
      <form class="login-form">
        <mat-form-field class="login-full-width">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter username" value="">
        </mat-form-field>
        <br>
        <mat-form-field class="login-full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Enter password" value="">
        </mat-form-field>
        <br>
        <div class="login-buttons-container">
          <button routerLink="/home" routerLinkActive="active" mat-raised-button class="login-form-button" color="primary">Login</button>
          <button routerLink="/signup" routerLinkActive="active" mat-raised-button class="login-form-button" color="accent">Signup</button>
        </div>
      </form>
    </div>
  </div>
</div>
