<div class="login-container">
  <div class="login-wrapper">
    <div class="login-row">
      <div class="login-header">
        <!-- <app-login-header></app-login-header> -->
        <h2 class="signup-title-line">Biometric Voting Signup</h2>
      </div>
      <div class="signup-content-container">
        <div class="link-container">
          <span class="signup-title">Signup</span>
        </div>
        <p class="signup-message">Register by entering your finger twice. Pay attention to notification messages</p>
        <div class="image-container">
          <img class="app-image place-vote-image" alt="" src="https://images.squarespace-cdn.com/content/v1/59b037304c0dbfb092fbe894/1560106548889-VEOZOSZJUGEACDJ9TKY6/image-asset.jpeg?format=1000w">
        </div>
        <div class="link-container">
          <a routerLink="/login" class="login-link">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
