<div class="home-container">
  <div class="home-wrapper">
    <p class="home-title">Biometric Voting System</p>
    <div class="home-tabs-container">
      <button mat-fab disabled aria-label="Example icon button with a heart icon">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <mat-tab-group>
        <mat-tab label="Home">
          <div class="home-tab">
            <div class="home-tab-inner">
              <div class="home-tab-inner-row">
                <mat-card class="home-tab-card">
                  <mat-card-content>
                    <div class="mat-card-inner">
                      <div class="mat-card-inner-row">
                        <img class="app-image" alt="" src="../../assets/images/trophy.png">
                        <!-- <h2>Total Contestants</h2>
                        <h3>{{totalContestants}}</h3> -->
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
                <mat-card class="home-tab-card">
                  <mat-card-content>
                    <div class="mat-card-inner">
                      <div class="mat-card-inner-row">
                        <img class="app-image" alt="" src="../../assets/images/vote-yes.png">
                        <!-- <h2>Total Votes Cast</h2>
                        <h3>0</h3> -->
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
                <mat-card class="home-tab-card">
                  <mat-card-content>
                    <div class="mat-card-inner">
                      <div class="mat-card-inner-row">
                        <img class="app-image" alt="" src="../../assets/images/fingerprint.png">
                        <!-- <h2>Total Registered</h2>
                        <h3>0</h3> -->
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <div class="home-tab-positions">
                <div class="positions-inner">
                  <p class="positions-title">Contestant Positions</p>
                  <hr style="width:40%;text-align:center;margin-bottom:15px;">
                  <div class="positions">
                    <mat-chip-list aria-label="Fish selection">
                      <mat-chip color="accent" (click)="onAllChipClicked()" selected>
                        All Positions
                      </mat-chip>
                      <mat-chip color="primary" selected *ngFor="let title of titles" (click)="onChipClicked(title)">
                        {{title?.titleName}}
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                </div>
              </div>
            </div>
            <div class="home-contestants-container">
              <div class="home-contestants-wrapper">
                <div class="search-contestant-container">
                  <mat-form-field class="login-full-width search-contestant-input">
                    <mat-label>Search contestant</mat-label>
                    <input matInput placeholder="Search contestant" value="">
                  </mat-form-field>
                </div>
                <div class="home-contestants-inner">
                  <mat-list class="contestants-list" role="list">
                    <mat-list-item role="listitem" *ngFor="let contestant of contestants"
                      (click)="openDialog(contestant)">
                      <div class="home-contestant-item-container">
                        <div class="home-contestant-item-row">
                          <img class="contestant-image" alt="" src="../../assets/images/woman.png">
                          <div class="contestant-info">
                            <p class="contestant-name">{{contestant?.firstName+" "+contestant?.surname}}</p>
                            <p class="contestant-role">{{contestant?.title?.titleName}}</p>
                          </div>
                        </div>
                      </div>
                    </mat-list-item>
                    <mat-list-item *ngIf="noContestants" role="listitem" >
                      <div class="home-contestant-item-container no-contestants-container">
                        <div class="home-contestant-item-row">
                          <div class="contestant-info">
                            <mat-icon class="no-contestants-icon">warning</mat-icon>
                            <p class="contestant-name">No Contestants</p>
                          </div>
                        </div>
                      </div>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div></div>
    </div>
  </div>
</div>
